$def with (content)

$ active = model.get_active()

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
<!--[if lt IE 9]>
    <script src="static/themes/able-wpcom/html5.js" type="text/javascript"></script>
<![endif]-->
    <title>$config.get('site', 'name')</title>
    $ base = config.get('general', 'base')
    $if base: <base href="$base"/>
    <link rel="stylesheet" type="text/css" href="static/themes/able-wpcom/style.css">
    <link rel="stylesheet" type="text/css" href="static/themes/common/niche.css">
    $if features.rss:
      <link rel="alternate" type="application/rss+xml" href="rss" title="RSS feed">
  </head>
  <body>
    <div id="page" class="hfeed site">
      <div id="site-introduction">
        <h1 class="site-title"><a href="">$config.get('site', 'name')</a></h1>
        <h2 class="site-description">$config.get('site', 'subtitle')</h2>
      </div>
      <div id="page-liner">
        <header id="masthead" class="site-header" role="banner">
          <nav role="navigation" class="site-navigation main-navigation">
            <ul>
            $if active:
              <li><a href="user/$active.username">$active.username</a>
              <li><a href="logout">Logout</a>
            $else:
              <li><a href="login">Login</a>
            <li><a href="link/new">New post</a>
            <li><a href="links">Archive</a>
            </ul>
          </nav>
        </header>
        <div id="main">
          <div id="primary" class="site-content">
            $ message = model.get_message()
            $if message:
              <p class="message">$message</p>
            <div id="content" role="main">
              $:content
            </div>
          </div>
          <div id="secondary">
            $if active:
              $ new = model.get_new()
              $if new:
                <div class="new">
                <p>New comments on
                <ul>
                $for comment in new:
                  $ link = comment.link
                  <li><a href="link/$link.linkID#comment_$comment.commentID">
                    $if not link.URL: $link.title
                    $else: $:link.URL_description
                  </a>
                </ul>
                </div>
          </div>
        </div>
          <hr/>
	<footer id="colophon" class="site-footer" role="contentinfo">
          <div class="site-info">
            A <a href="https://juju.net.nz/src/niche.git/">niche</a> community filter
	    <span class="sep"> | </span>
            Version $version
            $if config.get('site', 'license'):
	      <span class="sep"> | </span>
              $:config.get('site', 'license')
	    <span class="sep"> | </span>
            <a href="https://github.com/nzmichaelh/niche/issues">Bugs</a>
	    <span class="sep"> | </span>
            Theme based on <a href="http://abledemo.wordpress.com/">Able</a>
            $if features.rss:
	      <span class="sep"> | </span>
              <a type="application/rss+xml" href="rss"><img src="static/themes/common/feed-icon-14x14.png"/> RSS feed</a>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
