$def with (content)

$ active = model.get_active()

<!DOCTYPE html>
<html>
  <head>
    <title>$config.get('site', 'name')</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    $ base = config.get('general', 'base')
    $if base:
        <base href="$base"/>
  </head>
  <body>
    <h1><a href="">$config.get('site', 'name')</a></h1>
    <div id="navigation">
      <ul>
	$if active:
	    <li><a href="user/$active.username">$active.username</a>
	    <li><a href="logout">Logout</a>
	$else:
	    <li><a href="login">Login</a>
        <li><a href="link/new">New post</a>
      </ul>
    </div>
    <div class="spacer">
    </div>
    <div id="content">
      $ message = model.get_message()
      $if message:
          <p class="message">$message</p>
      <div id="body">
	$:content
      </div>
    </div>
  </body>
</html>
