$def with (content)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    $ base = config.get('general', 'base')
    $if base:
        <base href="$base"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MonkeyFilter</title>
  </head>
  <body>

    <div id="header">
      <h1><a href="">Monkeyfilter</a></h1>
    </div>
    
    <div id="navigation">
      <ul>
	<li><a href="login">Login</a>
      </ul>
    </div>
    <div class="spacer">
    </div>
    <div id="content">
      $:content
    </div>
  </body>
</html>
