$def with (link, form, preview)

$ here = "link/%s" % link.linkID

$ date = link.to_datestr()
<h1 class="entry-title">
  <a href="links/$link.to_date_link()">$date</a>
</h1>

$if model.is_admin():
  <p class="meta">
    <a href="$here/hide">${ "Hidden" if link.hidden else "Showing" }</a>
    <span class="sep"> | </span>
    <a href="$here/close">${ "Closed" if link.closed else "Open for comments" }</a>
  </p>

<div class="entry-summary">
$if not link.URL:
    <b>$link.title</b>
$else:
    <a href="$link.URL">$:link.URL_description</a>
$:link.description
$if link.extended:
    <p>$:link.extended
</div>
<div class="entry-meta">
$ user = link.user
posted by <a href="user/$user.username">$user.username</a>
$link.ago() ago
</div>

$ comments = link.comments

<ul class="commentlist">
$for comment in comments:
    <li>
    <div class="comment" id="comment_$comment.commentID">
    $:comment.content
    <footer>
    $ user = comment.user
    posted by <a href="user/$user.username">$user.username</a>
    $comment.ago() ago
    $if features.likes:
        $ likes = comment.likes
        <span class="sep"> | </span>
        $model.plural(len(likes), 'like')
        <span class="sep"> | </span>
        <a href="comment/$comment.commentID/like">I like it</a>
    $if model.is_admin():
        <span class="sep"> | </span>
        <a href="comment/$comment.commentID/delete">Delete</a>
    </footer>
    </div>
</ul>

$if not link.closed:
  <a id="comment"></a>
  $if preview:
    <div class="preview">$:preview</div><p>
  <div id="commentform">
    <form name="main" method="post" action="$here/new">
      $:form.render_css()
      <br/>
      <input type="submit" name="post" value="Post"/>
      <input type="submit" name="preview" value="Preview"/>
    </form>
  </div>
