$def with (link, form, preview)

$ here = "link/%s" % link.linkID

$ date = link.to_datestr()
<h2>
  <a href="/daily/$link.to_date_link()">$date</a>
</h2>

<p class="meta">
  <a href="$here/hide">${ "Hidden" if link.hidden else "Showing" }</a> |
  <a href="$here/close">${ "Closed" if link.closed else "Open for comments" }</a>
</p>

$if not link.URL:
    <b>$link.title</b>
$else:
    <a href="$link.URL">$:link.URL_description</a>
$:link.description
$if link.extended:
    <p>$:link.extended
<p class="byline">
$ user = link.user
posted by <a href="user/$user.username">$user.username</a>
$link.ago() ago

$ comments = link.comments

$for comment in comments:
    <div class="comment">
    <p>
    $:comment.content
    <p class="byline">
    $ user = comment.user
    posted by <a href="user/$user.username">$user.username</a>
    $link.ago() ago
    $ likes = comment.likes
    | $len(likes) likes
    | <a href="comment/$comment.commentID/like">I like it</a>
    $if model.is_admin():
        | <a href="comment/$comment.commentID/delete">Delete</a>
    </div>

$if not link.closed:
    $if form:
        <a id="comment"></a>
        $if preview != None:
            <p class="preview">$:preview
        <p>
        <form name="main" method="post"> 
	  $:form.render()
	  <input type="submit" name="post" value="Post"/>
	  <input type="submit" name="preview" value="Preview"/>
	</form>
    $else:
        <p><a href="/link/$link.linkID/new#comment">New comment</a>
