$def with (links, span, base, offset, limit, total, date_range)

$if date_range:
  $for year in date_range.years:
    $if not loop.first: <span class="sep"> | </span>
    $if year == date_range.year: <b>
    <a href="links/$year">$year</a>
    $if year == date_range.year: </b>
  <br/>
  $if date_range.month is None: <b>
  <a href="links/$date_range.year">Whole year</a>
  $if date_range.month is None: </b>
  $for i in range(1, len(date_range.months)):
      <span class="sep"> | </span>
      $if i == date_range.month: <b>
      <a href="links/$date_range.year/$i">$date_range.months[i]</a>
      $if i == date_range.month: </b>
  <hr/>

$ last_date = None

$for link in links:
    $ date = link.to_datestr()
    $if date != last_date:
        <h1 class="entry-title">
	  <a href="links/$link.to_date_link()">$date</a>
	</h1>
	$ last_date = date

    <div class="entry-summary">
    $if not link.URL:
        <b>$link.title</b>
    $else:
        <a href="$link.URL">$:link.URL_description</a>
    $:link.description
    $if link.extended:
        <a href="link/$link.linkID" class="more-link">more inside</a>
    </div>
    <div class="entry-meta">
      posted by <a href="user/$link.user.username">$link.user.username</a>
      $link.ago() ago
      -
      <a href="link/$link.linkID">$len(link.comments) comments</a>
    </div>

$ at, pages = model.paginate(offset, total, limit)
$if pages:
    Page
    $for page in pages:
        $if page == at: <b>
        <a href="$base?offset=${(page-1)*limit}">$page</a>
        $if page == at: </b>
