$def with (user)

<h2>$user.username's profile</h2>

<p>
$if features.gravatar:
  <img src="http://www.gravatar.com/avatar/$model.get_gravatar(user.email)"/>
Name: $user.realname
<p>User ID: $user.userID
$if model.get_active() and user.userID == model.get_active().userID:
    <a href="user/$user.username/password">Set password</a>
<p>Homepage: <a href="$user.homepage">$user.homepage</a>
<p>Bio:
$:user.bio

<p>
  <a href="user/$user.username/links">$len(user.links) links</a>
| <a href="user/$user.username/comments">$len(user.comments) comments</a>
$if features.likes:
  | <a href="user/$user.username/likes">$len(user.likes) likes</a>
